# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv/
venv/
ENV/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Log files and temporary files
*.log
*.swp
*.swo
*.tmp
*.bak
